@font-face {
    font-family: "Noto Sans Arabic";
    src: url('../fonts/Bold.eot');
    src: url('../fonts/Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bold.woff2') format('woff2'),
        url('../fonts/Bold.woff') format('woff'),
        url('../fonts/Bold.ttf') format('truetype'),
        url('../fonts/Bold.svg#Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}